[flake8]
max-line-length = 99

rst-directives = literalinclude
rst-roles = py:attr, py:class, py:const, py:exc, py:func, py:meth, py:mod
docstring-style = sphinx
enable = DAR104
max-complexity = 10

# E203 and W503 conflict with black
ignore = E203,W503
