<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ title }}</title>
<style>
table {width: 98%}
th {text-align: left; padding: 0px}
td {padding: 0px}
th.tangoctl {text-align: left; border-bottom: 2px solid; padding: 0px}
td.tangoctl {border-bottom: 1px solid; padding: 0px}
td.tangoctl2 {background-color: rgba(255, 0, 0, 0.3)
</style>
</head>
</body>
<hr/><p>
<a href="/">Home</a>&nbsp;<a href="/ns">Namespaces</a>&nbsp;
<a href="/devices/{{ KUBE_NAMESPACE }}">Devices</a>&nbsp;
<a href="/pods/{{ KUBE_NAMESPACE }}">Pods</a>&nbsp;
<a href="/services/{{ KUBE_NAMESPACE }}">Services</a>
</p><hr/><br/>
{{ body_html }}
<br/><hr/>
<img src="{{ url_for('static', path='logo-color.svg') }}" width="150" height="41"/>
</body>
</html>
